/* How to make the head's background cover the full width,
while not shifting any content around when the scrollbar toggles. */
/* html, body {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}
header, main {
	width: 100vw;
} */
/* Wtf is that. */


/* Main generic styling */

body {
	margin: 0;
	text-align: center;
	background-color: white;
	font-family: sans-serif;
}
header {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	padding: 6px 0px;
}
main > * {
	margin: 10px 0;
}
main, table {
	width: fit-content;
	margin: 10px auto;
}
main {
	margin-bottom: 40px;
}

label, summary, button {
	cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
	display: none;
}


/* Site description */

h1 {
	margin: 0px;
}
details {
	font-size: 80%;
}
summary {
	width: fit-content;
	margin: 0 auto 3px;
	text-decoration: underline;
}
details>div {
	margin: 0 auto;
	width: 400px;
	text-align: justify;
	padding: 4px 6px;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: #f8f8f8;
}


/* Buttons */

label {
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
	margin: 3px;
	min-width: calc(3.2ch - 12px);
	font-size: 0.9rem;
	padding-block-end: 1px;
	padding-block-start: 2px;
	padding-inline-start: 6px;
	padding-inline-end: 6px;
}
label:has(input:checked) {
	outline: outset 3px #d5d819;
}
#options > * {
	font-size: 85%;
	margin: 0 1em;
}


/* Grid of type-buttons */

#typeSelect {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}
.buttonPanel {
	margin: 5px;
}
.typegrid {
	display: grid;
	grid-template-columns: repeat(4, 8.5ch);
	margin: 3px;
}
.typegrid > label {
	color: white;
	text-shadow: 1px 1px 3px #333, -1px -1px 3px #333;
}

.type-normal { background:#A8A878; }
.type-fighting { background:#C03028; }
.type-flying { background:#A890F0; }
.type-poison { background:#A040A0; }
.type-ground { background:#E0C068; }
.type-rock { background:#B8A038; }
.type-bug { background:#A8B820; }
.type-ghost { background:#705898; }
.type-steel { background:#B8B8D0; }
.type-fire { background:#F08030; }
.type-water { background:#6890F0; }
.type-grass { background:#78C850; }
.type-electric { background:#F8D030; }
.type-psychic { background:#F85888; }
.type-ice { background:#98D8D8; }
.type-dragon { background:#7038F8; }
.type-dark { background:#705848; }
.type-fairy { background:#EE99AC; }


/* Results table */

table {
	border-collapse: collapse;
}
tbody {
	text-align: left;
}
tr.bigrow {
	border: none;
	border-top: 1px solid gray;
}
tr.bigrow > td {
	padding: 5px;
}
.subtable {
	font-size: 87%;
}
td.multiplier {
	text-align: center;
}
span.bar {
	border-radius: 3px;
	height: 10px;
	display: inline-block;
}
span.timesFour { background: #73d216 }
span.timesTwo { background: #4e9a06 }
span.timesOne { background: #ffdd57 }
span.timesHalf { background: #a40000 }
span.timesQuarter { background: #7c0000 }
span.timesZero { background: #000 }

.boundedCell {
	position: relative;
}

.boundedList {
	text-align: center;
	font-size: 87%;
	color: gray;
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;

	list-style-type: none;
	margin: 0;
	padding: 0;

	position: absolute;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	top: 5px;
}
